antlr4-python3-runtime==4.8
beautifulsoup4==4.11.1
bitarray==2.4.0
bs4==0.0.1
cffi==1.15.0
click==8.0.4
colorama==0.4.4
Cython==0.29.28
-e git+https://github.com/pytorch/fairseq@2e0b961a0e3233eba39f9ea473cb4f56dcdf3bd8#egg=fairseq
hydra-core==1.0.7
importlib-resources==5.4.0
joblib==1.1.0
lxml==4.9.0
numpy==1.22.2
omegaconf==2.0.6
Pillow==9.0.1
portalocker==2.4.0
pycparser==2.21
PyYAML==6.0
regex==2022.3.2
sacrebleu==2.0.0
sacremoses==0.0.47
sentencepiece==0.1.96
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.8.9
torch==1.10.2+cu113
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.63.0
typing-extensions==4.1.1
yolk3k==0.9
zipp==3.7.0
